@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Tillana:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap");
html {
  margin: 0;
  height: 100%;
  font-family: "Tillana", system-ui, Arial, Helvetica, sans-serif;
  transition: all 0.5s ease-in-out;
}
body {
  margin: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}
#root {
  height: 100%;
}
h1,
p {
  white-space: pre-wrap;
}

button {
  border: none;
  width: fit-content;
  border-radius: 4px;
  padding: 5px 20px;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px #767676;
  color: white;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.in-b {
  display: inline-block;
}

.mr-10 {
  margin-right: 10px;
}
.bg-green {
  background-color: #19b51c;
}

.bg-yellow {
  background-color: #fcdc08;
}

.bg-red {
  background-color: #d11b06;
}
.bg-blue {
  background-color: #0882fc;
}

button:disabled {
  background-color: #767676;
  cursor: default;
}
.icon {
  height: 20px;
  cursor: pointer;
}

.w-100 {
  width: 100%;
}
